*{

    box-sizing: border-box;

}
/*
delete: margin:0;
    padding: 0;
    border: 0;
*/

a{
    text-decoration: none;
}

body{
    margin: 0%;
    background: #F2EDE4;
  }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2C1B6;
    padding: 6px;
}

.logo{
    text-transform: uppercase;
    font-size: 20px;
}

.blog-heading h2{
    color: #000000;

    height: 30px;
    text-align: left;
    padding: 15px;
    margin-top: 2%;
}



#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;
    max-width: 680px;

}

/*
above:
margin: 20px 0px;
display: flex;
width: 100%;
*/

.blog-box{
    max-width: 300px;
    background-color: white;
    border: 1px solid #ececec;
    margin: 20px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    height: 500px;
}
/*
width: 300px;
*/

.blog-img{
    width: 100%;
    height: 165px;
    cursor: pointer;
    border-radius: 25px 25px 0 0;

}

/*
above:
width: 100%
*/

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    display: flex;
    flex-direction: column;
}

.blog-container .blog-box .blog-img{

    overflow: hidden;
    cursor: pointer;
    width: 100%

}

/*

*/


.blog-container .blog-box .blog-img img{

    object-fit: cover;
    transition: .2s linear;
    height:100%;
    width: 100%;
}

/*
above:
height:100%;
    width: 100%;
*/

.blog-container .blog-box .blog-img:hover img{
    transform: scale(1.1);
}

.blog-text{
    padding: 30px;
    display: inline-block
    flex-direction: column;
    overflow-wrap: break-word;
}

.blog-text .blog-title{
    font-size: 1.3rem;

    color: #3F292B;
}

.blog-text .blog-title:hover{
    color: #a3ad9b;
    transition: all ease 0.3s;
}

.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;

    overflow-wrap: break-word;
    margin: 20px 0px;

}

/*
display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
*/

@media(max-width: 1250px){
    .blog-box{
        width: 250px;
    }
}

@media(max-width: 1100px){
    .blog-box{
        width: 300px;
    }
}

@media(max-width: 550px){
    .blog-box{
        width: 100%;
        margin: 20px 10px;
    }
}

section{
    width: 100%;
    display: inline-block;
    margin-top: 2%;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-1{
    color: #ffffff;
    background: #8DA68F;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 4px;
    width: 30%;
    padding: 30px;
    font-size: 25px;
    border: 3px solid #8DA68F;
    transition: 0.8s;
}

.btn-1:hover{
    background: #b9c8b8;
    color:#363440;
    transform: scale(1.2);
}

.container1 a{
    color: #363440;
    background: none;
    text-decoration:none;
}

.container1 a:hover{
    background: none;
    color: none;
    text-decoration:none;
}

@media screen and (max-width: 600px){
    section{
      display: block;
      width: 100%;
      align-items: center;
      text-align: center;
  }
}

@media screen and (max-width: 600px){
    .container1{
      display: block;
      width: 100%;
      align-items: center;
      text-align: center;
  }
}

@media screen and (max-width: 600px){
    .btn-1{
      font-size: 1em;
      width: 40%;
      align-items: center;
      text-align: center;
  }
}
