

body{
  margin: 4%;
  background: #FFE5D4;
}

header{
  text-align: center;
  padding: 15px;
  background: #a3ad9b;
  color: #000000;
  text-align: center;
  font-size: 150%;

}

h1{
  background:#EFC7C2;
  color: #3F292B;
  text-align: center;
  font-size: 200%;
  text-transform: uppercase;
  margin-top: 2%;
}

nav{
  margin-top: 2%;
  box-sizing: content-box;
  text-decoration:none;
}

nav a {
  box-sizing: border-box;
  display:inline-block;
  line-height: 35px;
  text-decoration: none;
  margin: 1% 5% 1%;
  padding: 1%;
  border-radius: 20px;
}


a:link{
  background: #669999;
  color:  #ffffff;
  text-decoration:none;
}

a:visited{
  background:#D3D3D3;
  color: #3F292B;
  text-decoration:none;
}

a:focus{
  background: #ffffff;
  color: #669999;
  text-decoration:none;
}

a:hover{
  background: #ffffff;
  color: #669999;
  text-decoration:none;
}

nav a.active{
  background-color: #EFC7C2;
  color: #3F292B;
}

h2{
  color: #000000;
  padding: 15px;
  height: 30px;
  display: contents;
  text-align: center;
}

.contact{
  width: 100%;
  min-height: 450px;
  height: 70vh;
  display: flex;
  align-items: cetner;
  justify-content: center;
  margin-top: 5%;
}

form{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

form h2{
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input, form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

form input:focus, form textarea:focus{
  border-color: #0D99FF;
  box-shadow: 0 0 0 .25rem #CFEBFF;
}

form button{
  padding: 15px;
  background: #eab6a8;
  color: #ffffff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

form button:hover{
  background-color: #DB7F67;
}
